@use 'variables' as var;
@use 'mixins' as mxn;

// LAYOUT/STRUCTURE
html,
body {
	margin: 0;
	padding: 0;
}
html { scroll-behavior: smooth; }

figure {
	margin: 0 0 5rem;
	padding: 1rem;
}

section {
	margin-bottom: 5rem;
	margin-top: 5rem;
}

.container {
	box-sizing: border-box;
	margin: 0 auto;
	padding: 0 2vw;
	width: 100vw;

	@include mxn.media(sm) {}

	@include mxn.media(md) {}

	@include mxn.media(lg) {}

	@include mxn.media(xl) {}

	@include mxn.media(xxl) {}
}

#credits {
	margin-bottom: 2rem;
	
	p {}
	
	@include mxn.media(md) {}
}	

[id^='calculation-steps--'] {
	counter-reset: section;
	display: flex;
	flex-wrap: wrap;
	
	figure & {}
	
	> div {
		padding: 1.5rem;
		position: relative;
		
		&::after {
			bottom: 0.5em;
			counter-increment: section;
			content: "" counter(section) "";
			opacity: (0.2);
			position: absolute;
			right: 0.5em;
		}
	}
	
	p {
		margin: 0 0 0.5rem;
	}
}

.arithmatic {
	display: inline-block;
	text-align: right;
	
	hr {
		border: none;
		display: block;
		height: 2px;
		margin: 0.5rem 0;
		padding: 0;
		width: 100%;
	}
	
	.solution {
		border: 2px dashed;
		margin-right: -0.25rem;
		padding: 0 0.25rem;
	}
}

#transcript {}

.recommendations {
	margin-top: 1rem;
	
	p {
		margin-bottom: 0.5rem;
	}
	
	ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
		
		li {
			margin-bottom: 0.5rem;
			
			&:last-child {
				margin-bottom: 0;
			}
		}
	}
}









// BREAKPOINTS
@include mxn.media(sm) {}
	
@include mxn.media(md) {
	
	.container {
		width: 90vw;
	}
	
	#credits {}
}

@include mxn.media(lg) {
	.container {
		width: 75vw;
	}
}

@include mxn.media(xl) {}

@include mxn.media(xxl) {}