@use 'sass:color';
@use 'sass:map';
@use 'variables' as var;
@use 'mixins' as mxn;
// ELEMENTS
body,
html {
	background: var.$color--light;
	color: var.$color--dark;
}

html {}

body {
	background: transparent;
}

a {
	color: var.$color--accent-2;
	text-decoration: underline;
	
	&:hover {}
}

em {
	font-style: italic;
}

h1 {
	color: var.$color--dark;
}

h2 {
	
	#calculation-results & {
		border-bottom: 1px solid var.$color--dark;
	}
}

p {
	
	&.callout {
		
		&:last-of-type {}
	}
	
	#transcript & {}
	
	@media screen and (min-width: map.get(var.$breakpoints, "sm")) {}
	
	@media screen and (min-width: map.get(var.$breakpoints, "md")) {}
	
	@media screen and (min-width: map.get(var.$breakpoints, "lg")) {}
	
	@media screen and (min-width: map.get(var.$breakpoints, "xl")) {}
	
	@media screen and (min-width: map.get(var.$breakpoints, "xxl")) {}
}

strong {
	font-weight: var.$font-weight--bold;
}

[id^="error--"] {
	border-color: var.$color--accent-2;
	color: var.$color--dark;
}

figure {
	background: color.scale(var.$color--light, $lightness: 75%);
	background-image: linear-gradient(rgba(var.$color--dark, .05) 1px, transparent 1px), linear-gradient(90deg, rgba(var.$color--dark, .05) 1px, transparent 1px);
	background-position: top left;
	background-size: 1rem 1rem;
	box-shadow: rgba(var.$color--dark, 0.2) 0px 1px 2px 0px, rgba(var.$color--dark, 0.05) 0px 1px 3px 1px;
}

[id^='calculation-steps--'] {
	background: color.scale(var.$color--light, $lightness: 75%);
	background-image: linear-gradient(rgba(var.$color--dark, .05) 1px, transparent 1px), linear-gradient(90deg, rgba(var.$color--dark, .05) 1px, transparent 1px);
	background-position: top left;
	background-size: 1rem 1rem;
	border-radius: 2px;
	box-shadow: rgba(var.$color--dark, 0.2) 0px 1px 2px 0px, rgba(var.$color--dark, 0.05) 0px 1px 3px 1px;
	
	figure & {
		background: none;
		border-radius: 0;
		box-shadow: none;
	}
	
	> div {
		
		&::after {
			color: var.$color--accent-2;
		}
	}
	
	.arithmatic {
		color: var.$color--accent-2;
	}
}

.arithmatic {
	
	hr {
		background: var.$color--accent-2;
	}
	
	.solution {
		border-color: var.$color--accent-2;
	}
}

footer {
	padding: 1rem 0;
	
	.link {
		display: flex;
		align-items: center;
		
		img {
			display: inline-block;
			height: 1rem;
			margin: 0 0.75rem 0 0;
		}
		
		p {
			margin: 0;
		}
	}
}









// UTILITY CLASSES
.weight--medium {}

.font-secondary {}

.highlight {
	color: var.$color--accent-2;
}




// BREAKPOINTS
@include mxn.media(sm) {}
	
@include mxn.media(md) {}

@include mxn.media(lg) {}

@include mxn.media(xl) {}

@include mxn.media(xxl) {}