@use 'sass:color';
@use 'sass:map';
@use 'variables' as var;
@use 'mixins' as mxn;
// ELEMENTS
body,
html {
	// align-items: center;
	background: var.$color--light;
	// background: yellow;
	color: var.$color--dark;
	// display: flex;
	// font-family: var.$font-family--primary;
	// @include font-family--primary;
	// font-style: normal;
	// font-weight: var.$font-weight--normal;
	// min-height: 100%;
	// justify-content: center;
	// width: 100%;
}

html {
	// background-image: linear-gradient(rgba(var.$color--dark, .1) 1px, transparent 1px), linear-gradient(90deg, rgba(var.$color--dark, .1) 1px, transparent 1px);
	// background-position: center 0;
	// background-size: 1rem 1rem;
}

body {
	// align-items: center;
	background: transparent;
	// display: flex;
	// flex-direction: column;
	// font-size: 2.0rem;
	// justify-content: center;
	// padding: 0 2rem;
	// padding: 0;
}

a {
	color: var.$color--accent-2;
	// font-size: 1.2rem;
	// font-weight: 500;
	// left: 1rem;
	// line-height: 1;
	// position: fixed;
	text-decoration: underline;
	// top: 1rem;
	
	&:hover {
		// border-bottom: 2px solid var.$color--white;
		// color: var.$color--white;
		// text-decoration: underline;
		// text-shadow: 0 0 6px var.$color--black;
	}
}

em {
	font-style: italic;
}

h1 {
	color: var.$color--dark;
}

h2 {
	
	#calculation-results & {
		border-bottom: 1px solid var.$color--dark;
	}
}

p {
	// color: var.$color--white;
	
	// font-size: 2.0rem;
	// line-height: 1.2;
	// margin: 0;
	// padding: 0;
	// text-align: justify;
	// text-shadow: 0px 0px 4px var.$color--black;
	
	&.callout {
		// font-size: 120%;
		
		&:last-of-type {
			// margin-bottom: 2rem;
		}
	}
	
	#transcript & {
		// line-height: 1;
		// margin: 0;
		// padding: 0;
	}
	
	@media screen and (min-width: map.get(var.$breakpoints, "sm")) {
		// width: 95%;
		// width: 95vw;
	}
	
	@media screen and (min-width: map.get(var.$breakpoints, "md")) {
		// width: 90%;
		// width: 90vw;
	}
	
	@media screen and (min-width: map.get(var.$breakpoints, "lg")) {
		// width: 80%;
		// width: 80vw;
	}
	
	@media screen and (min-width: map.get(var.$breakpoints, "xl")) {
		// width: 75%;
		// width: 75vw;
	}
	
	@media screen and (min-width: map.get(var.$breakpoints, "xxl")) {
		// width: 60%;
		// width: 60vw;
	}
}

strong {
	font-weight: var.$font-weight--bold;
}

[id^="error--"] {
	border-color: var.$color--accent-2;
	color: var.$color--dark;
}

figure {
	background: color.scale(var.$color--light, $lightness: 75%);
	background-image: linear-gradient(rgba(var.$color--dark, .05) 1px, transparent 1px), linear-gradient(90deg, rgba(var.$color--dark, .05) 1px, transparent 1px);
	background-position: top left;
	background-size: 1rem 1rem;
	box-shadow: rgba(var.$color--dark, 0.2) 0px 1px 2px 0px, rgba(var.$color--dark, 0.05) 0px 1px 3px 1px;
}

[id^='calculation-steps--'] {
	background: color.scale(var.$color--light, $lightness: 75%);
	background-image: linear-gradient(rgba(var.$color--dark, .05) 1px, transparent 1px), linear-gradient(90deg, rgba(var.$color--dark, .05) 1px, transparent 1px);
	background-position: top left;
	background-size: 1rem 1rem;
	border-radius: 2px;
	box-shadow: rgba(var.$color--dark, 0.2) 0px 1px 2px 0px, rgba(var.$color--dark, 0.05) 0px 1px 3px 1px;
	// font-family: var.$font-family--primary;
	
	figure & {
		background: none;
		border-radius: 0;
		box-shadow: none;
	}
	
	> div {
		
		&::after {
			color: var.$color--accent-2;
		}
	}
	
	.arithmatic {
		color: var.$color--accent-2;
	}
}

.arithmatic {
	
	hr {
		background: var.$color--accent-2;
	}
	
	.solution {
		border-color: var.$color--accent-2;
	}
}

footer {
	padding: 1rem 0;
	
	.link {
		display: flex;
		align-items: center;
		
		img {
			display: inline-block;
			height: 1rem;
			margin: 0 0.75rem 0 0;
			// width: 1rem;
		}
		
		p {
			margin: 0;
		}
	}
}









// UTILITY CLASSES
.weight--medium {
	// font-weight: var.$font-weight--medium;
}

.font-secondary {
	// font-family: var.$font-family--secondary;
	// font-style: var.$font-style--secondary;
	// font-weight: var.$font-weight--secondary;
	// white-space: nowrap;
}

.highlight {
	color: var.$color--accent-2;
}




// BREAKPOINTS
@include mxn.media(sm) {}
	
@include mxn.media(md) {}

@include mxn.media(lg) {}

@include mxn.media(xl) {}

@include mxn.media(xxl) {}