@use 'variables' as var;
@use 'mixins' as mxn;

body,
html {
	font-family:  var.$font-family--primary;
	font-style: normal;
	font-weight:  var.$font-weight--normal;
}

body {
	font-size: 2.0rem;
}

figcaption {
	font-size: 1rem;
	font-style: italic;
}

h1, h2, h3, h4, h5, h6 {
	font-family:  var.$font-family--secondary;
	font-weight:  var.$font-weight--bold;
	letter-spacing: 5%;
	text-transform: uppercase;
}

h1 {
	border-bottom: 1px solid  var.$color--dark;
	border-top: 1px solid  var.$color--dark;
	font-size: 200%;
	line-height: 1;
	margin: 1rem 0;
	padding: 1rem 0;
	text-align: center;
	text-transform: uppercase;
}

h2 {
	margin: 0 0 1rem;
	padding: 0;
}

p,
li {
	font-size: 1.25rem;
	line-height: 1.4;
	margin-bottom: 0.5rem;
	max-width: 75ch;
}

p {
	margin: 0 0 2rem;
	padding: 0;
	
	&.callout {
		font-size: 120%;
		
		&:last-of-type {
			margin-bottom: 2rem;
		}
	}
}

small,
.small {
	font-size: 75%;
	font-weight:  var.$font-weight--normal;
}

footer {
	font-family:  var.$font-family--numbers;
}

input#kapInput {
	font-family:  var.$font-family--numbers;
}

[id^='error--'] {
	border: 1px solid;
	display: inline-block;
	font-family:  var.$font-family--secondary;
	font-weight:  var.$font-weight--normal;
	font-size: 1.75rem;
	letter-spacing: 5%;
	margin-bottom: 0.5rem;
	padding: 0.5rem 1rem;
	text-transform: uppercase;
}

[id^='calculation-steps--'] {
	
	> div {
		
		&::after {
			font-family:  var.$font-family--numbers;
			font-size: 4rem;
		}
	}
	
	
}

.arithmatic {
		font-family:  var.$font-family--numbers;
		font-size: 80%;
		text-align: right;
	}

.numbers {
	font-family:  var.$font-family--numbers;
}

.recommendations {
	
	ul {
		
		li {
			font-size: 0.9rem;
			line-height: 1;
		}
	}
}




// BREAKPOINTS
@include mxn.media(sm) {}

@include mxn.media(md) {
	h1 {
		font-size: 300%;
	}
}

@include mxn.media(lg) {
	h1 {
		font-size: 325%;
	}
}

@include mxn.media(xl) {}

@include mxn.media(xxl) {}