body,
html {
	// align-items: center;
	// background: $color--light;
	// background: yellow;
	// color: $color--dark;
	// display: flex;
	// font-family: $font-family--primary;
	@include font-family--primary;
	font-style: normal;
	font-weight: $font-weight--normal;
	// min-height: 100%;
	// justify-content: center;
	// width: 100%;
}

body {
	// align-items: center;
	// display: flex;
	// flex-direction: column;
	font-size: 2.0rem;
	// justify-content: center;
	// padding: 0 2rem;
	// padding: 0;
}

figcaption {
	font-size: 1rem;
	font-style: italic;
}

h1, h2, h3, h4, h5, h6 {
	font-family: $font-family--secondary;
	font-weight: $font-weight--bold;
	letter-spacing: 5%;
	text-transform: uppercase;
}

h1 {
	border-bottom: 1px solid $color--dark;
	border-top: 1px solid $color--dark;
	font-size: 200%;
	// font-weight: $font-weight--bold;
	// letter-spacing: 5%;
	line-height: 1;
	margin: 1rem 0;
	padding: 1rem 0;
	text-align: center;
	text-transform: uppercase;
}

p,
li {
	// color: magenta;
	font-size: 1.25rem;
	line-height: 1.4;
	margin-bottom: 0.5rem;
	max-width: 75ch;
	// white-space: nowrap;
}

small,
.small {
	font-size: 75%;
	font-weight: $font-weight--normal;
}

input#kapInput {
	font-family: $font-family--numbers;
}

[id^='error--'] {
	border: 1px solid;
	display: inline-block;
	font-family: $font-family--secondary;
	font-weight: $font-weight--normal;
	font-size: 1.75rem;
	letter-spacing: 5%;
	margin-bottom: 0.5rem;
	padding: 0.5rem 1rem;
	text-transform: uppercase;
}

[id^='calculation-steps--'] {
	// font-family: $font-family--primary;
	
	> div {
		
		&::after {
			font-family: $font-family--numbers;
			font-size: 4rem;
		}
	}
	
	
}

.arithmatic {
		font-family: $font-family--numbers;
		font-size: 80%;
		text-align: right;
	}

.numbers {
	font-family: $font-family--numbers;
}




// BREAKPOINTS
@include media(sm) {}

@include media(md) {
	h1 {
		font-size: 300%;
	}
}

@include media(lg) {
	h1 {
		font-size: 325%;
	}
}

@include media(xl) {}

@include media(xxl) {}